body {
  background-color: #fcf8f3;
}
.headerInfo {
  background-color: #ffaaa5;
  width: 100%;
  margin: 0;
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
  font-family: raleway;
  font-weight: bolder;
  color: #698474;
}
section {
  max-width: 600px;
  margin: 20px auto;
}
h1 {
  color: #698474;
  text-align: right;
  font-family: raleway;
}
h2 {
  color: #698474;
  text-align: left;
  margin: 20px 10px;
  font-family: raleway;
}
footer {
  font-family: monospace;
  position: fixed;
  bottom: 0px;
}
.temperatureInfo {
  text-align: right;
}
.convertFahrenheit {
  border-radius: 5px;
  background-color: #698474;
  padding: 5px;
  font-size: 1rem;
  font-family: raleway;
  color: #fff;
  box-shadow: 2px 2px grey;
  transition: all 185ms ease-in-out;
}
.dateTime {
  text-align: right;
  font-family: monospace;
}
.unit {
  text-decoration: none;
  position: relative;
  top: -14px;
}

.feelsLike {
  text-align: right;
  font-family: monospace;
}
.searchBar {
  margin-top: 90px;
}
.card-body {
  color: #ffaaa5;
  font-family: raleway;
  text-align: center;
}
.temperatureInfo {
  list-style: none;
  font-family: monospace;
}
.forecastDays {
  margin-top: 20px;
  text-align: center;
}
.dateForecast {
  font-size: 20px;
  color: #698474;
  font-family: monospace;
}
.tempForecast {
  color: #698474;
  font-family: monospace;
  font-size: 13px;
}

#current-temperature {
  font-size: 48px;
}
#submitted {
  color: #698474;
  border-radius: 5px;
}
